.bread-crumb{
    margin-bottom: 32px;
    margin-top: -44px;
    margin-left: 17px;
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .navlink{
        text-decoration: none;
        border: none !important;
    }
    .navlink:hover{
        color: #9391b6;
    }
    .cursor-enable{
        cursor:pointer
    }
    .fs-13{
        font-size: 13px;
    }
    .bb-0{
        border-bottom: none;
    }
    .react-tabs__tab--selected {
        border-bottom: 4px solid;
        border-image: linear-gradient(to left, #02d9cf, #526afd);
        border-image-slice: 1;
        color: #fff !important;
        margin: auto;
        text-decoration: none;
        font-weight: 500;
        background-color: transparent;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
    }
    .react-tabs__tab {
        color: #9391b6;
        font-weight: 500;
        padding: 6px 20px;
    }

.learner-component{

        .modal-dialog{
            width: auto;
            min-width: 700px;
        }
        .submit-userBtn{
            border-radius: 1px;
            border: none;
            background-image: linear-gradient(to left, #02D9CF, #526AFD);
            padding: 10px 35px;
            color: #ffffff;
        }
        .cancel-notebtn{
            border-radius: 1px;
            border: none;
            background-color: #5a6268;
            padding: 10px 35px;
            color: #ffffff;
        }
        .black-txt{
            color: #000;
    
        }
        .modal-show{
          display: block;  
          // background: rgba(0, 0, 0, 0.3);    
        }
        .modal-hide{
          display: none;
        }
    
    .learner-card{
        background-color: #181633;
        min-height: 970px;
        
    }
    .note-body-inner{
        overflow-y: auto;
        height: 703px;
    }
    .learner-headTag-1{
        background-image: linear-gradient(to left, #02D9CF, #526AFD);
    }
    .learner-headTag{
        background-color: #01dbcf;
        color: #000000;
        font-size: 13px;
        font-weight: 500;
        border-radius: 4px;
        width: fit-content;
        display: inline-block;
    }
    .add-convo-icon {
        color: #01dbcf;
        //cursor: pointer;
      }
      .small-badgeText{
          color: #9391b6;
          font-size: 10px;
      }
      .smallerText{
        color: #9391b6;
      }
      .bigger-text{
          font-size: 23px;
          font-weight: 500;
          color: #E1E0E4;
      }
      .subLearner-text{
          color: #9391b6;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 1px;
      }
      .nav-tabs{
          border: none;
      }
      .nav-tabs .nav-link.active{
        border-bottom: 4px solid;
        border-image: linear-gradient(to left, #02D9CF, #526AFD);
        border-image-slice: 1;
        color: #fff !important;
        margin: auto;
        text-decoration: none;
        font-weight: 500;
        background-color: transparent;
      }
      .nav-tabs .nav-link:hover{
         border-top: 0px;
         border-left: 0px;
         border-right: 0px;
         border-bottom: 4px solid transparent;
      }
      .nav-link{
          color: #9391b6;
          font-weight: 500;
      }
      .active{
          background-color: transparent;
          border: none;
      }
      .card-progress{
       
        overflow: hidden;
        background-color: #4F4C7E;
        border-radius: 4px; 
        height: 6px;
        position: relative;
      }
      .first-dot{
        background-color: #ffffff;
        left: 1%;;
    }
    .sec-dot{
        background-color: #ffffff;
        left: 25%;;
    }
    .third-dot{
        background-color: #ffffff;
        left: 50%;;
    }
    .fourth-dot{
        background-color: #ffffff;
        left: 75%;;
    }
    .fifth-dot{
        background-color: #ffffff;
        left:98%;;
    }
    .first-dot, .sec-dot, .third-dot, .fourth-dot, .fifth-dot{
        position:absolute;
        z-index:1;
        height:6px;
        width:6px;
    }
    .subHead-text{
        color: #f3f3f3;
        font-size: 18px;
        font-weight: 500;
    }
    .progress-card{
        padding-top: 0px !important;
    }
    .progress-bar{
        background-image: linear-gradient(to left, #02d9cf, #526afd);
    }
    .circle-target{
        width: 11px;
        height: 11px;
        background-color: #02d9cf;
        margin-top: 5px;
        clip-path: circle();
    }
    .progress-top{
        display: flex;
    }
    .bb-1{
        border-bottom:1px solid #302e5f;
    }
    .inner-head{
        color: #9391b6;
        font-size: 14px;
    }
    .inner-sub{
        color: #fff;
    }
    .candidate-badge{
        display: flex;
    }
    .badge-icons{
        padding: 7px;
        font-size: 20px;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        color: #ffffff;
        background-image: linear-gradient(to left, #02d9cf, #526afd);
    }
    .badge-details{
        text-align: center;
    }
    .next-arrow{
        position: absolute;
        justify-content: flex-end;
        right: 3px;
    }
    .activity-head{
        color:#9391b6;
        font-weight: 500;
    }
    .pagination-footer{
        position: absolute;
        bottom: 0px;
        justify-content: flex-end;
        width: 100%;
        border-top:1px solid #302e5f;
    }
    .filter-arrow{
        color: #E1E0E4;
        font-size: 17px;
        cursor: pointer;
        margin-top: 5px;
    }
    .filter-arrow-disabled{
        color: #444b56;
        font-size: 17px;
        // cursor: pointe/;
        margin-top: 5px;
    }
    .activity-text{
        color: #f5f5f5;
    }
    .activity-subHead{
        color: #fff;
        font-weight: 500;
        font-size: 17px;
    }
    .skills-head{
        color: #E1E0E4;
    }
    .skills-head-text{
        // text-decoration: underline;
        font-size: 16px;
    }
    .add-note{
        cursor: pointer;
    }
    .add-icon{
        cursor: pointer;
        height: 30px;
        width: 30px;
        padding: 5px;
    }
    .notes-card{
        background-color: #23214A;
    }
    .note-head{
        color:#fff;
    }
    .note-dateText{
        color: #9391b6;
        letter-spacing: 1px;
        font-size: 12px;
    }
    .note-subText{
        color: #c0b9cd;

    }
    .pointer{
        cursor: pointer;
    }
    
    .note-edit-icon{
        font-size: 18px;
        cursor: pointer;
    }
    .note-delete-icon{
        font-size: 18px;
        color: #d8d8d8;
        cursor: pointer;
    }
    .notes-input{
    width: 100%;
    height: 120px !important;
    margin-top: 19px;
    transition: ease-in-out 0.5s;
    background-color: #181633;
    color: #fff;
    border-radius: 5px;
    border-radius: solid #fff;
    padding: 10px;
    }
    .strengths-card{
        background-color: #181633;
        min-height: 340px;
        height: auto;
    }
    .career-card{
        background-color: #181633;
        height: 360px;
        //height: auto;
    }
    .enrolled-overflow{
        overflow-y: auto;
    }
    .career-icon{
        color: #fff;
    }
    .role-card{
        background-color: #181633;
        min-height: 208px;
        height: auto;
        border-top: 5px solid #01DBCF;
    }
    .recharts-wrapper{
        text-align: center;
        width: 100% !important;
    }
    .radar-chart{
        width: auto;
    }
    .recharts-surface{
        width: 100%;
    }
    .qstn-text{
        color: #9391b6;
        font-size: 14px;
        font-weight: 500;
    }
    .answer-text{
        color: #F5F5F4;
        font-size: 14px;
    }
    .info-icon{
        cursor: pointer;
        color: #9391B6;
        font-size: 21px;
    }
    .assessment-subhead{

    
    .assessment-head{
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        background: none !important;
        border: none;
        cursor: pointer;
        background-image: url(../../assets/img/outline.png) !important;
        background-repeat: no-repeat !important;
        background-position: calc(100% - 3px) center !important;
        background-size: 20px !important;
        background-color: transparent;
    }
    select{
        appearance: none !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        padding-right: 30px !important;
      }
    }
    .assessment-head:focus{
        box-shadow: none;
        outline: none;
    }
    select option {
        background: #232244;
        color: #fff;
        padding: 5px 5px;
        font-size: 17px;
    }
    .noAssesment {
        text-align: center;
        margin-top: 10%;
        color: white;
    }
    
}