
.list-btn{
  background-image: linear-gradient(to left, #02d9cf, #526afd);
    border: none;
    padding: 15px 56px;
    color: #ffffff;
    margin: auto;
    width: 18%;
}

.org-buttons{
        margin:0 auto;
        overflow:hidden;
        left:0;
        right:0;
        text-align:center;
}
.create-btn{
  background-image: linear-gradient(to left, #02d9cf, #526afd);
    border: none;
    padding: 15px 80px;
    color: #ffffff;
    margin: auto;
    width: 38%;
}
.user-reg-card{
  background-color:#181633;
}
.form-control {
  background-color: transparent;
  border: 2px solid #555374;
  color: #d3d2e4;
}