.recruit-btn{
        float: right;
        border-radius: 1px;
        border: none;
        background-image: linear-gradient(to left, #02D9CF, #526AFD);
        padding: 12px 50px;
        color: #ffffff;
        margin-left: auto;
        cursor: auto !important;
    }
.learners-head{
    display: flex;
    width: 100%;
}
.mr-15p{
    margin-right: 15%;
}