// .learners-admin-main{
//     .learners-admin-search{
//         width: 92%;
//         display: inline-block;
//     }
//     .learners-searchbox{
//         float: right;
//         width: 340px;
//         border-radius: 4px;
//         text-decoration: none;
//         border: 2px solid #555374;
//         background-color: transparent;
//         padding: 5px 15px;
//         color: #ffffff;
//     }
//     .learner-block-btn{
//         border-radius: 3px;
//         border: none;
//         background-color: #c71d1d;
//         padding: 4px 20px;
//         color: #ffffff;
//         height: 35px;    
//         cursor: pointer; 
//         text-decoration: none;   
//     }
//     .learner-reset-btn{
//         border-radius: 3px;
//         border: none;
//         background-color: #9391b6;
//         padding: 4px 20px;
//         color: #ffffff; 
//         height: 35px;
//         cursor: pointer;
//         text-decoration: none;
//     }
//     .opacity-50{
//         opacity: 0.5;
//     }
//     .learner-reset-btn:hover{
//         text-decoration: none;
//         background-color: #7b7a9b;
//     }
//     .learner-block-btn:hover{
//         text-decoration: none;
//         background-color: #a81a1a;
//     }
//     .list-btns {
//         display: flex;
//         margin-left: -60px;

//       }
//       .org-list-card {
//         border: none;
//         width: 100%;
//       }
//       .list-fun-btns{
//           font-size: 20px;
//           color: #bab8cd;
//       }
//       .list-fun-btns:hover{
//         color: #fff;
//     }
//       .delete-btn{
//         color: #a9372f;
//       }
//       .delete-btn:hover{
//         color: #d6372c;
//       }
//       .unblock-icon:hover{
//           color: #12d912 !important;
//       }
//       .fNyVJM:hover{
//           background-color: #27234b;
//       }
// }
      // }
      .subHead-text-learner {
        color: #01dbcf;
        font-size: 16px;
        font-weight: 500;
    }
      .org-list-card {
        border: none;
        width: 100%;
      }
      .list-fun-btns{
          font-size: 20px;
          color: #bab8cd;
         cursor: pointer;
      }
      .list-fun-btns:hover{
        color: #fff;
    }
      .delete-btn{
        color: #bd342d;

      }
      .delete-btn:hover{
        color: #a81a1a;
        cursor: pointer;
      }
      .fNyVJM:hover{
          background-color: #27234b;
      }
      .sc-jRQBWg {
        color: #f5f5f5;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .css-qc6sy-singleValue{
        color: #f1f1f1 !important;
      }
      .fSQziN{
        border-bottom: 1px solid #2f2c52;
      }
      .contact-sorting{
        position: absolute;
        bottom: -30px;
      }
// }
